.tour-route {
  width: 100%;
  height: auto;
}

.tour-route__list {
  @include list-reset();
  width: 100%;
}

.tour-route__item {
  width: 100%;
  display: flex;
  position: relative;
  padding-bottom: 30px;
  @include large-mobile {
    padding-bottom: 20px;
    flex-direction: column;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:last-child .tour-route__line {
    display: none;
  }

  & .tour-route__pin-svg--first {
    display: none;
  }

  &:first-child .tour-route__pin-svg {
    display: none;
    &.tour-route__pin-svg--first {
      display: block;
    }
  }
}
.tour-route__item__line::before {
  @include large-mobile {
    content: "";
    position: absolute;
    left: -9px;
    top:23px;
    height: calc(100% - 23px);
    background-image: linear-gradient(
        180deg,
        transparent,
        transparent 50%,
        #fff 50%,
        #fff 100%
      ),
      linear-gradient(90deg, #474d55, #474d55, #474d55, #474d55, #474d55);
    background-size: 20px 3px, 100% 3px;
    border: none;
    width: 2px;
    transform: translateX(50%);
  }
}

.tour-route__date-time {
  width: 94px;
  height: auto;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  @include large-mobile {
    padding-left: 6px;
    margin-bottom: 10px;
    width: 100%;
    flex-direction: row;

  }
}

.tour-route__date {
  @include mp-reset();
  width: 100%;

  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: $text-color-3;
  @include large-mobile {
    width: unset;
    margin-right: 15px;
    font-weight: bold;
  }
}

.tour-route__time {
  @include mp-reset();
  width: 100%;

  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: $text-color-6;
  @include large-mobile {
    flex-direction: row;
    width: unset;
  }
}

.tour-route__pin {
  width: 9px;
  height: auto;
  margin: 0 13px;

  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;

  position: relative;
  @include large-mobile {
    position: absolute;
    left: -25px;
    top: -10px;
    height: 100%;
  }
}
.tour-route__pin-svg {
  // @include large-mobile {
  //   display: none;
  // }
}
.tour-route__line {
  // @include large-mobile {
  //   display:none;
  // }
}
.tour-route__pin-svg__mobile {
  position: absolute;
  width: 2px;
  height: calc(100% + -5px);
  top: 40px;
  stroke: $bg-color-3;
  stroke-width: 4px;
  stroke-dasharray: 2px 6px;
}
.tour-route__pin-svg {
  width: auto;
  height: auto;
  @include large-mobile {
    background: white;
  }
}

.tour-route__description {
  width: 100%;
}

.tour-route__description-text {
  @include mp-reset();

  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: $text-color-3;

  & a {
    font: inherit;
    color: inherit;
    display: inline-block;

    border-bottom: 1px dashed $bg-color-3;

    @include media-mobile-max(){
      text-decoration: underline;
      text-decoration-style: dotted;
      border: 0;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      border-color: transparent;
    }
  }
}
.tour-route__description-text a {
  font-weight: bold;
  color: #474d55;
}

.tour-route__line {
  position: absolute;
  width: 2px;
  height: calc(100% + -5px);
  top: 40px;
  stroke: #474d55;
  stroke-width: 4px;
  stroke-dasharray: 2px 6px;
  @include large-mobile {
    display: none;
    height: 100%;
    top: 5px;
  }
}

// .tour-route__pin::before {
//   content: "";
//   position: absolute;
//   left: 0 ;
//   top: 0;
//   height: 4px;
//   background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900);
//   background-size: 20px 3px, 100% 3px;
//   border: none;
//   width: 100%;
//   transform: rotate(90deg);
// }
